@font-face {
  font-family: 'BaconFriend';
  src: url('/fonts/../../BaconFriend.eot');
  src: url('/fonts/../../BaconFriend.eot?#iefix') format('embedded-opentype'),
    url('/fonts/../../BaconFriend.woff2') format('woff2'),
    url('/fonts/../../BaconFriend.woff') format('woff'),
    url('/fonts/../../BaconFriend.ttf') format('truetype'),
    url('/fonts/../../BaconFriend.svg#BaconFriend') format('svg');
  font-weight: 500;
  font-style: normal;
}
