$font-size__base: 18px;
$line-height__base: 16px;
$font-weight__base: 100;

$icomoon-font-path: "fonts" !default;

$icon-browser: "\e00c";
$icon-camera: "\e012";
$icon-lightbulb: "\e030";
$icon-pencil: "\e032";
$icon-paintbrush: "\e036";
$icon-magnifying-glass: "\e037";
$icon-beaker: "\e03c";
$icon-bike: "\e042";
$icon-wine: "\e043";
$icon-hotairballoon: "\e044";
$icon-genius: "\e046";
$icon-map-pin: "\e047";
$icon-facebook: "\e05d";
$icon-twitter: "\e05e";
$icon-googleplus: "\e05f";
$icon-rss: "\e060";
$icon-tumblr: "\e061";
$icon-linkedin: "\e062";
