body {
  font-family: $font-family__body;
  font-size: $font-size__base;
  line-height: $line-height__base;
  font-weight: $font-weight__base;
  background-color: white;
  color: #333;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family__heading;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #333;
}