.b-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 2fr 0.2fr auto 0.1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:  "nav nav nav nav nav nav"
                        " . . header header . ."
                        ". . search search . ."
                        ". main main main main ."
                        "footer footer footer footer footer footer"
}

.b-navigation {
  grid-area: nav;
}

.b-header {
  grid-area: header;
}

.b-search-form {
  grid-area: search;
}

.b-main-content {
  grid-area: main;
}

.b-footer {
  grid-area: footer;
}