.b-article-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.b-article {
  width: 210px;
  background-color: #e4b7b7;
  margin: 10px;
  padding: 10px;

  p {
    font-size: $font-size__base;
    font-weight: $font-weight__base;
    line-height: $line-height__base;
  }
}

.b-article-date {
  font-size: 0.9rem;
}

.b-article-title {
  // font-size: $font-size__base;
  // font-weight: $font-weight__base;
  // line-height: $line-height__base;
}