.b-header {
  text-align: center;
}

.b-header-image {
  // max-width: 50%;
}

.b-header-title {
  font-size: 1.6rem;
  font-weight: $font-weight__base;
  line-height: 1.2rem;
}

.b-header-description {
  font-size: 1.2rem;
  font-weight: $font-weight__base;
  line-height: 1.2rem;
}